@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    background-color: #fcfbff;    

}
li , a {
    font-family: "Lexend Deca" , sans-serif  ;
    font-weight: 500;
    font-size: 16px;
    color: #490404;
    text-decoration: none;
}





header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}
.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav__links {
    list-style: none;
}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
   transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #e3096b;

}
/* eikhane logo ta problematic */
.logo {
    width: 100px; 
    height: auto;
}

.user-info {
    display: flex;  /* Aligns items in a row */
    align-items: center; /* Centers items vertically */
    gap: 10px;  /* Adds spacing between the image and text */
    padding-bottom: 10px;
}

.user-info img {
    width: 50px;  
    height: 50px;
    border-radius: 50%;

}

.profile-btn {
    background-color: #490404;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.profile-btn:hover {
    background-color: #bd1360;
}

